@{
    ViewBag.Title = "Instrukcje";
}
<h2>@ViewBag.Title</h2>
<hr />
<p>
    Twoje zadanie polega na dotarciu do schodów i wydostaniu się z labiryntu. 
    Drogę mogą blokować bramy oraz skrzynie: bramy potrzebują do otwarcia klucza odpowiedniego koloru, skrzynie zaś dają się przesuwać. 
    Jeśli droga zostanie zablokowana, przycisk „Restart” pozwoli zacząć przechodzenie mapy od początku.
</p>
<p>
    Sterowanie: strzałki.
</p>
<p>
    Za pomocą edytora można tworzyć własne mapy. Wystarczy założyć konto i zalogować się za pomocą emaila albo skorzystać z już istniejących przykładowych kont:
</p>
<ul>
    <li>
        przykład1@mail.com - 
        hasło: przykład1
    </li>
    <li>
        przykład2@mail.com - 
        hasło: przykład2
    </li>
    <li>
        przykład3@mail.com - 
        hasło: przykład3
    </li>
</ul>    
<p>
    Wykonanie: <a href="http://jan-orzechowski.com/">Jan Orzechowski</a> <br />
    Technologie: ASP.NET MVC (C#), Entity Framework, MySQL, JavaScript (<a href="https://github.com/jan-orzechowski/keyholder">GitHub</a>) <br />
    Grafika map i postaci: <a href="https://www.patreon.com/buch">Buch</a>, <a href="http://pixeljoint.com/pixels/profile.asp?fid=23684">
        Dawnbringer
    </a> <br />
    Szablon Bootstrap: <a href="https://bootswatch.com/">Bootswatch</a>
</p>