@{
    ViewBag.Title = "Strona główna";
}

<div class="justify-content-md-center text-center">
    <img src="images/logo.png" alt="Klucznik" />
    <hr />
    <a href="@Url.RouteUrl("BrowseLevelsDefault")" role="button" class="btn btn-lg btn-success">Zagraj</a>
    <a href="@Url.RouteUrl("About")" role="button" class="btn btn-lg btn-success">Stwórz mapę</a>
</div>
